* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    width: 500px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.category-button {
    background-color: #051FF7;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
}

.goBackButton {
    float: right;
    clear: both;
    background-color: #e74c3c;
    color: white;
}

.folder-button {
    background-color: #85c1e9;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.audience-container {
    padding-top: 25px;
}

.audience-button {
    background-color: #39F062;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
}

.category-buttons-container {
    text-align: left;
}

.folder-audience-container {
    text-align: center;
    margin-top: 20px;
}
