body {
    font-family: Arial, sans-serif;
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    margin: 3px;
    outline: none;
    font-size: 20px;
    background-color: transparent;
}

.centered {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.folder-button,
.audience-button {
    color: #000;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.button-icon {
    padding-right: 20px;
}

.folder {
    background-color: #FFD700;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    transition: background-color 0.3s ease;
}

.folder:hover {
    background-color: #FFF700;
}

.audience {
    background-color: #808080;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    transition: background-color 0.3s ease;
}

.audience:hover {
    background-color: #A9A9A9;
}
