* {
  margin: 0;
  padding: 0;
}

body {
  width: 450px;
  margin: auto;
  font-family: 'Poppins', sans-serif;;
}

table {
  width: 450px;
}

button {
  padding: 10px 30px;
  background-color: #6c599b;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out .2s;
  font-family : inherit;
  color: white;
}

button:hover {
  opacity: .5;
}

.selected {
  background-color: #5163a1;
}

.dir-elem {
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out .2s;
  color: white;
}

.dir-elem:hover {
  opacity: .75;
}

.folder {
  background-color: #11709b;
}

.file {
  background-color: #0196cf;
  padding-left: 31.5px;
}
