
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.audience-button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}


.family-audience-button {
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 5px 10px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}


.audience-family-collapsed {
    display: none;
}

.audience-family-expanded {
    display: block;
}

